*{
    border-radius: 12px;
    
}
body{
    background-image: linear-gradient(#16384c, rgb(47,50,95), #2f495f);

    display: flex;
    flex-wrap: wrap;
    
}

section{
    background-color: #fff;
    height: 350px;
    width: 400px;
    margin: 200px auto 0 auto;
    position: relative;
    transition:  0.5s;
}

section:hover{
     height: 400px; 
}

img{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 50px;
    top: -30px;
    transition: 1s;
    
}

section:hover img{
    margin-top: -100px;
    border-radius: 50%;
    transform: rotate(360deg);
}

.container{
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: 0.4s;

}

section:hover .container{
    opacity: 1;
}
